  <% if comment.commentable_type == "Post"%>
  <li style="margin: 8px 0 5px 0; border: 1px solid gray;">
<% elsif %>
  <li style="margin: 5px 0 5px 0; border-left: 1px dotted gray;">
<% end %>

<!-- Andy - Render new comment form and loop through comments for post -->
  <%= form_for [comment, Comment.new] do |f| %>

    <div class="comment" style="padding:4px 0px 4px 4px;">

      <div class="content">
        <a class="collapse-comments">[-]</a><a></span> <%= @user.find(comment.user_id).username %></a><span><small>  <%= time_ago_in_words(comment.created_at) %> ago</small></span>
        <div class="in-content">

          <table style="display:inline">
            <tbody>
              <tr style="text-align: center; margin: 0 auto">
                <span class="upvote-comment">
                  <td><%= link_to '<i class="angle up icon" style="text-align: center; margin: 0 auto"></i>'.html_safe, upvote_comment_path(comment), method: :post, remote: true %></td>
                </span>
              </tr>
              <tr style="text-align: center; margin: 0 auto">
                <td class="c<%=comment.id%>"><%="#{comment.score}"%></td>
              </tr>
              <tr style="text-align: center; margin: 0 auto">
                <span class="downvote-comment">
                  <td><%= link_to  '<i class="angle down icon" style="text-align: center; margin: 0 auto"></i>'.html_safe, downvote_comment_path(comment), method: :post, remote: true%></td>
                </span>
              </tr>
            </tbody>
            </table>

            <div class="text translateComment t<%=comment.id%>" style="display:inline">
              <%= comment.content %>
            </div>

          <% if @current_user %>
          <div class="text">
            <%= f.text_area :content, placeholder: "Add a Reply", :class => "comment-submit" %>
          </div>
          <% end %>

          <% if @current_user %>
          <div class="actions">
            <div class="actions">
              <a class="reply">Reply</a>
            </div>
            <%= f.submit "Reply", :class => "comment-submit"  %>
          </div>
          <% end %>

        </div>
      </div>
    </div>

  <% end %>

  <!-- Andy - Render nested comment form and display nested comments -->
  <ul style="list-style-type: none; margin:2px">
    <%= render partial: 'comments/comment', collection: comment.comments %>
  </ul>

</li>
