





<div class="ui form">
  <%= form_for(user) do |f| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>



  <div class="page-login">
    <div class="ui centered grid container">
      <div class="nine wide column">
        <div class="ui fluid card">
          <div class="content">


            <div class="field">
              <%= f.label :username %>
              <%= f.text_field :username %>
            </div>

            <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password %>
            </div>

            <div class="field">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation %>
            </div>

            <div class="field">
            <%= f.label :location %>
            <%= f.text_field :location %>
            </div>

            <div class="actions">
              <%= f.submit class:"ui primary icon button" %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
