<div class="emoji-picker-container">
<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br><br>
<div class="ui form">
  <div class="field emoji-picker-container">
    <h2 style="text-align: left"><%= f.label :question %></h2>
    <%= f.text_area :question, class: 'form-control locationContent', data: { emojiable: true }, :maxlength=>"254" %>
  </div>
</div>

  <!-- <p>Pinpoint where you want to ask your question, or leave it blank and we will use your location based on your IP</p> -->


  <div class="ui form">
    <div class="field">
      <%= f.hidden_field :latitude %>
    </div>
  </div>

  <div class="ui form">
    <div class="field">
      <%= f.hidden_field :longitude%>
    </div>
  </div>
  <br><br>
  <div class="ui form">
    <div class="field">
      <h2 style="text-align: left"><%= f.label :location %></h2>
      <%= f.text_area :location, placeholder: "Drag the marker on the map, or type here", class: 'form-control location-box', rows: 1 %>
    </div>
  </div>
  <br><br>
  <div class="ui form">
    <div class="field">
      <h2 style="text-align: left"><%= f.label "Mood"%></h2>
      <%= f.select :emjoi, options_for_select([["", ""], "happy", "sad", "angry", "bored", "cheeky", "confused", "cool", "devo", "joy", "love", "sad", "sick", "silly", "thinking", "unhappy", "veryhappy", "wasted"])%>
    </div>
  </div>
<br><br><br>
  <div class="actions" style="text-align: left">
    <%= f.submit %>
  </div>
<% end %>

</div>
