<div class="emoji-picker-container">
<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="ui form">
  <div class="field emoji-picker-container">
    <%= f.label :question %>
    <%= f.text_area :question, placeholder: "Ask a question", class: 'form-control locationContent', data: { emojiable: true }, :maxlength=>"254" %>
  </div>
</div>

  <!-- <p>Pinpoint where you want to ask your question, or leave it blank and we will use your location based on your IP</p> -->


  <div class="ui form">
    <div class="field emoji-picker-container">
      <%= f.label :latitude %>
      <%= f.text_area :latitude, placeholder: "move the marker on the map and click 'Set location below'", class: 'form-control long', :disabled => true %>
      <!-- <%= button_to "get location", class: 'locationButton' %> -->
    </div>
  </div>

  <div class="ui form">
    <div class="field">
      <%= f.label :longitude %>
      <%= f.text_area :longitude, placeholder: "move the marker on the map and click 'Set location below'", class: 'form-control lat', :disabled => true %>
      <!-- <%= button_to "get location", class: 'locationButton' %> -->
    </div>
  </div>
  <a class='locationButton' href="#">Set Location</a>

  <div class="ui form">
    <div class="field">
      <%= f.label :location %>
      <%= f.text_area :location, placeholder: "Where are you?", class: 'form-control'  %>
      <!-- <%= button_to "get location", class: 'locationButton' %> -->
    </div>
  </div>

    <!-- <input type="radio" name="userLoc" value="userIPInput"> Default (based on your IP address)<br><br>
    <input type="radio" name="userLoc" value="userAddressInput"> <input type="text" placeholder="Address" name="Address"><br><br>
    <input type="radio" name="userLoc" value="userMapSelectInput"><br>
    <input type="submit" value="Submit"> -->


    <!-- <%= radio_button_tag(:location, "userIPInput") %> <%= label_tag(:location, "Default (based on your IP address)") %>
    <%= radio_button_tag(:location, "userAddressInput") %> <%= label_tag(:location, "Input taken from marker (right)") %> -->
<!--
<hr>
    EXAMPLE
    <%= radio_button_tag(:age, "child") %>
    <%= label_tag(:age_child, "I am younger than 21") %>
    <%= radio_button_tag(:age, "adult") %>
    <%= label_tag(:age_adult, "I'm over 21") %>
    Output:

    <input id="age_child" name="age" type="radio" value="child" />
    <label for="age_child">I am younger than 21</label>
    <input id="age_adult" name="age" type="radio" value="adult" />
    <label for="age_adult">I'm over 21</label>
    <hr>

 -->


  <div class="ui form">
    <div class="field">
      <%= f.select :emjoi, options_for_select([["How ya feel??", ""], "happy", "sad", "angry", "bored", "cheeky", "confused", "cool", "devo", "joy", "love", "sad", "sick", "silly", "thinking", "unhappy", "veryhappy", "wasted"])%>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>
