<!-- 11 July(ML): votes partial  -->
<!--
<%count = pluralize(post.votes.count, 'vote') %>
  <td class='vote-count' id="p<%=post.id%>"><%=post.score%></td>
  <td><%=button_to 'vote', upvote_post_path(post), method: :post, :class=> 'vote-button', remote: true%></td> -->
<!-- end upvote -->

<td id="p<%=post.id%>"><%="#{post.score}"%></td>
<span class="upvote-post">
  <td><%= link_to "ðŸ‘ðŸ¼", upvote_post_path(post), method: :post, remote: true %></td>
</span>

<span class="downvote-post">
  <td><%= link_to "ðŸ‘ŽðŸ¼", downvote_post_path(post), method: :post, remote: true %></td>
</span>
