<!-- 11 July(ML): votes partial  -->
<!--
<%count = pluralize(post.votes.count, 'vote') %>
  <td class='vote-count' id="p<%=post.id%>"><%=post.score%></td>
  <td><%=button_to 'vote', upvote_post_path(post), method: :post, :class=> 'vote-button', remote: true%></td> -->
<!-- end upvote -->


<table style="display:inline">
  <tbody>
    <tr style="text-align: center; margin: 0 auto">
      <span>
        <td><%= link_to '<i class="angle up icon" style="text-align: center; margin: 0 auto"></i>'.html_safe, upvote_post_path(post), method: :post, remote: true %></td>
      </span>
    </tr>
    <tr style="text-align: center; margin: 0 auto">
      <td id="p<%=post.id%>"><%="#{post.score}"%></td>
    </tr>
    <tr style="text-align: center; margin: 0 auto">
      <span class="downvote-comment">
        <td><%= link_to '<i class="angle down icon" style="text-align: center; margin: 0 auto"></i>'.html_safe, downvote_post_path(post), method: :post, remote: true %></td>
      </span>
    </tr>
  </tbody>
  </table>
