
      <!-- Andy- Google maps marker -->

      <script>
        var map;
        var savedLat;
        var savedLng;
        var marker;
        function initMap() {
          map = new google.maps.Map(document.getElementById('userMap'), {
            center: {lat: <%= @current_user.latitude %>, lng: <%= @current_user.longitude %>},
            zoom: 15,
            styles: myStyle
          });
          marker = new google.maps.Marker({
              map:map,
              draggable:true,
              animation: google.maps.Animation.DROP,
              position: {lat: <%= @current_user.latitude %>, lng: <%= @current_user.longitude %>}
          });
          google.maps.event.addListener(marker, 'dragend', function(){
            geocodePosition(marker.getPosition());
            var savedInfo = (marker.getPosition());
            savedLat = savedInfo.lat();
            savedLng = savedInfo.lng();
            console.log(savedLng + savedLat);
            $('#post_longitude').val(savedLng);
            $('#post_latitude').val(savedLat);
            $('.location-box').text("Obtained from marker").prop("disabled", true);

            // console.log(savedLat);
          // debugger;
          });

          function geocodePosition(pos){
             geocoder = new google.maps.Geocoder();
             geocoder.geocode({
                  latLng: pos
              },
                  function(results, status){
                      if (status == google.maps.GeocoderStatus.OK){
                          $("#mapSearchInput").val(results[0].formatted_address);
                          $("#mapErrorMsg").hide(100);
                      }
                      else {
                          $("#mapErrorMsg").html('Cannot determine address at this location.'+status).show(100);
                      }
                  }
              );
          };
        };
      </script>

      <div class="userPickMap">
        <div>
        </div>


<div id="userMap"></div>
      </div>
      <div class="page">
        <div class="headercolumns">
          <div class="col1">
            <div class="newPost">
              <%= render 'form', post: @post %>
            </div>
            <%= link_to 'Back', posts_path %>
          </div>
        </div>
      </div>
