<style>
  #postMap {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    /*position: absloute;*/
    float: right;
  }


</style>

<div class="leftContainer" style="width: 70%; height: 100%; display: inline; float: left; padding: 30px; text-align: left">
  <div class="topContent" style="padding-left: 30px; text-align: left">
      <!-- Andy - Show question -->

      <div class="translatedtext"></div>

      <table>
          <tr>
            <td rowspan="2" style="padding-right:20px"><%= render 'votes', post: @post %></td>
            <td><h2 class="translateComment"><%= @post.question %></h2></td>
          </tr>
          <tr>
            <td><strong>Posted by:</strong><%= @user.find(@post.user_id).username %></td>
          </tr>
      </table>


      <br>

      <%= link_to 'Edit', edit_post_path(@post) %>

      <br>

      <div>
      <!--Michelle - translation options (translate to user language) -->
      <select id="languageTo" class="ui search dropdown">
        <option value="en-fr">English to French</option>
        <option value="en-de">English to German</option>
        <option value="en-el">English to Greek</option>
        <option value="en-ja">English to Japanese</option>
        <option value="en-no">English to Norwegian</option>
        <option value="en-zh">English to Mandarin</option>
        <option value="en-sv">English to Swedish</option>
        <option value="fr-en">French to English</option>
        <option value="sv-en">Swedish to English</option>
      </select>

      <!-- <button id="toLanguageButton">Translate</button> -->
      <button class="ui button" id="toLanguageButton">
         <i class="shuffle icon"></i>
         Translate
       </button>
      <!--Michelle - button to trigger translation of post (see application.js file)  -->

      </div>
    </div><!--topcontent-->

      <!-- Andy - Form to render first level comment on post -->
      <% if @current_user %>
        <ul style="list-style-type: none; padding: 0;">
          <%= form_for [@post, Comment.new] do |f| %>
            <%= f.text_area :content, size: "70x3", placeholder: "Post a comment..." %><br/>
            <%= f.hidden_field :user_id, :value => @current_user.id, :class => 'field' %>
            <%= f.submit "Post", :class => 'ui secondary button' %>
          <% end %>
        </ul>
      <% end %>

      <div id='commentViewport' style="overflow:scroll; height:400px; text-align: left">
        <!-- Andy - Display all comments for the current post -->
        <ul style="list-style-type: none; padding: 0;">
          <%= render(partial: 'comments/comment', collection: @post.comments) %>
        </ul>
      </div>
</div>

<!-- Andy - Click handlers to toggle reply box and collapse comments -->
<div class="rightContainer" style="width: 30%; height: 100%; display: inline; float: right">
  <div id="postMap"></div>
</div>

<script type="text/javascript">
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('postMap'), {
      center: {lat: <%= @post.latitude %>, lng: <%= @post.longitude %>},
      zoom: 16,
      styles: myStyle
    });
    marker = new google.maps.Marker({
      map: map,
      icon: '/assets/mapicons/<%= @post.emjoi %>.png',
      position: {lat: <%= @post.latitude %>, lng: <%= @post.longitude %>}
});
  }

</script>

<script type="text/javascript">
  $(document).ready(function() {
    $('.reply').click(function() {
      $(this).closest('.content').find('.comment-submit').show();
      $(this).hide();
     });
     $('.collapse-comments').click(function() {
       $(this).parent().children('.in-content').toggle()
       $(this).closest('li').children('ul').toggle();
       $(this).html($(this).text() == '[+]' ? '[-]' : '[+]');
      });
  });
</script>
