<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @post.question %>
</p>

  <!-- #9 July 2017
  # By: Michelle
  # post route amended to allow for upvotes
   -->
<p>
  <%=button_to 'vote', upvote_post_path(@post), method: :post, :class=> 'vote-button', remote: true%>
  <strong>Votes:</strong> <p class='vote-count' id="p<%=@post.id%>"><%=@post.votes.count%></p>
  <!-- end upvote -->
</p>

<p>
  <strong>Latitude:</strong>
  <%= @post.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @post.longitude %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>

<p>
  <strong>Active:</strong>
  <%= @post.active %>
</p>

<p>
  <strong>Emjoi:</strong>
  <%= @post.emjoi %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<br><br><br>

<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <%= f.hidden_field :post_id, :value => @post.id %>

  <%= f.hidden_field :user_id, :value => @current_user.id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<br><br><br>

<table>
<thead>
  <tr>
    <th>Content</th>
    <th>Post</th>
    <th>User</th>
    <th colspan="3"></th>
  </tr>
</thead>

<tbody>
  <% @post.comments.each do |comment| %>
    <tr>

      <td><%= @user.find(comment.user_id).username %></td>
      <td><%= comment.content %></td>
      <td><%= comment.post_id %></td>
      <td><%= comment.user_id %></td>
      <td><%= link_to 'Show', comment %></td>
      <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
      <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</tbody>
</table>

<br><br><br>
