<style>

  #showmap {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }



</style>






<div class="page">
  <div class="headercolumns">
    <div class="col4">



      <p id="notice"><%= notice %></p>

      <!-- Andy - Show question -->
      <h2 class="translateComment"><%= @post.question %></h2>
      <div class="translatedtext"></div>


      <!-- <div> -->
      <!--Michelle - translation options (user's language to chosen lanugage)  -->

  <!-- keep this - michelles detect default language  -->

      <!-- <select id="language" class="ui search dropdown">
        <i class="world icon"></i>
        <span class="text">Translane From:</span>
        <div class="menu">
        <option value="fr">Translate from French</option>
        <option value="de">Translate from German</option>
        <option value="el">Translate from Greek</option>
        <option value="ja">Translate from Japanese</option>
        <option value="no">Translate from Norwegian</option>
        <option value="zh">Translate from Mandarin</option>
        <option value="sv">Translate from Swedish</option>
        <option value="en">Translate from English</option>
        </div>
      </select> -->


      <!--Michelle - button to trigger translation of post (see application.js file)  -->
      <!-- <button id="languageButton">translate text to your default language</button> -->

      <!-- </div> -->




      <!-- <p class="text-center">Powered by Yandex.Translate</p> -->
      <!-- Andy - Show post details score and link to edit -->
      <table>
        <tbody>
          <tr class="questionvotes">
            <td>
              <strong>Posted by:</strong>
              <%= @user.find(@post.user_id).username %>
              <br>
            </td>
              <%= render 'votes', post: @post %>
            <td>
              <%= link_to 'Edit', edit_post_path(@post) %>
            </td>
          </tr>
        </tbody>
      </table>

      <br>

      <div>
      <!--Michelle - translation options (translate to user language) -->
      <select id="languageTo" class="ui search dropdown">
        <option value="en-fr">English to French</option>
        <option value="en-de">English to German</option>
        <option value="en-el">English to Greek</option>
        <option value="en-ja">English to Japanese</option>
        <option value="en-no">English to Norwegian</option>
        <option value="en-zh">English to Mandarin</option>
        <option value="en-sv">English to Swedish</option>
        <option value="fr-en">French to English</option>
        <option value="sv-en">Swedish to English</option>
      </select>

      <!-- <button id="toLanguageButton">Translate</button> -->
      <button class="ui button" id="toLanguageButton">
       <i class="shuffle icon"></i>
       Translate
       </button>
      <!--Michelle - button to trigger translation of post (see application.js file)  -->

      </div>











      <!-- Andy - Form to render first level comment on post -->
      <% if @current_user %>
        <ul style="list-style-type: none; padding: 0;">
          <%= form_for [@post, Comment.new] do |f| %>
            <%= f.text_area :content, placeholder: "Share your wisdom.." %><br/>
            <%= f.hidden_field :user_id, :value => @current_user.id, :class => 'field' %>
            <%= f.submit "Post", :class => 'ui secondary button' %>
          <% end %>
        </ul>
      <% end %>


      <div id='commentViewport' style="overflow:scroll; height:400px;">

      <!-- Andy - Display all comments for the current post -->

      <ul style="list-style-type: none; padding: 0;">
        <%= render(partial: 'comments/comment', collection: @post.comments) %>
      </ul>

    </div>

  </div>

    <div class='col5'>
      <div id="showmap"></div>
      <!-- <h1>WHAT IS GOING ON!</h1> -->

    </div>

  </div>

</div>






<!-- Andy - Click handlers to toggle reply box and collapse comments -->

<script type="text/javascript">
  $(document).ready(function() {
    $('.reply').click(function() {
      $(this).closest('.content').find('.comment-submit').show();
      $(this).hide();
     });
     $('.collapse-comments').click(function() {
       $(this).parent().children('.in-content').toggle()
       $(this).closest('li').children('ul').toggle();
       $(this).html($(this).text() == '[+]' ? '[-]' : '[+]');
      });
  });




  //
  // var map;
  // var savedLat;
  // var savedLng;
  // function initMap() {
  //   map = new google.maps.Map(document.getElementById('showmap'), {
  //     center: {lat: <%= @post.latitude %>, lng: <%= @post.longitude %>},
  //     zoom: 15,
  //     styles: myStyle
  //   });
  //   marker = new google.maps.Marker({
  //       map:map,
  //       draggable:true,
  //       animation: google.maps.Animation.DROP,
  //       position: {lat: <%= @post.latitude %>, lng: <%= @post.longitude %>}
  //   });
  //   google.maps.event.addListener(marker, 'dragend', function(){
  //     geocodePosition(marker.getPosition());
  //     var savedInfo = (marker.getPosition());
  //      savedLat = savedInfo.lat();
  //      savedLng = savedInfo.lng();
  //
  //     // console.log(savedLat);
  //   // debugger;
  //   });
  //
  //   function geocodePosition(pos){
  //      geocoder = new google.maps.Geocoder();
  //      geocoder.geocode({
  //           latLng: pos
  //       },
  //           function(results, status){
  //               if (status == google.maps.GeocoderStatus.OK){
  //                   $("#mapSearchInput").val(results[0].formatted_address);
  //                   $("#mapErrorMsg").hide(100);
  //               }
  //               else {
  //                   $("#mapErrorMsg").html('Cannot determine address at this location.'+status).show(100);
  //               }
  //           }
  //       );
  //   };
  // };
  //
  //






</script>
