<p id="notice"><%= notice %></p>

  <h2><%= @post.question %></h2>
<table>

  <tbody>
    <tr>
      <td>
        <strong>Posted by:</strong>
        <%= @user.find(@post.user_id).username %>
      </td>

        <%= render 'votes', post: @post %>

    <td>
    <%= link_to 'Edit', edit_post_path(@post) %>
    </td>
    </tr>
  </tbody>
</table>


<<<<<<< HEAD
<br><br><br>

<h3 class="ui dividing header">Comments</h3>


  <%= form_for [@post, Comment.new] do |f| %>
    <%= f.text_area :content, placeholder: "Add a comment" %><br/>
    <%= f.hidden_field :user_id, :value => @current_user.id %>
    <%= f.submit "Add Comment" %>
=======
      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <%= f.hidden_field :post_id, :value => @post.id %>

  <%= f.hidden_field :user_id, :value => @current_user.id %>

  <div class="actions">
    <%= f.submit %>
  </div>


  <!-- <form class="ui reply form">
    <div class="field">
      <textarea></textarea>
    </div>
    <div class="ui blue labeled submit icon button">
      <i class="icon edit"></i> Add Reply
    </div>
  </form> -->


<% end %>
<br>
<hr>

<h3 class="ui-dividing header">Comments</h3>
<div id='commentViewport' class="ui-threaded-comments">

  <% @post.comments.each do |comment| %>
  <div class="comment">
    <a class="avatar">
      <img src="https://semantic-ui.com/images/avatar/small/joe.jpg">
    </a>
    <div class="content">
      <a class="author"><%= @user.find(comment.user_id).username %></a>
      <div class="metadata">
        <span class="date"><%= comment.created_at %></span>
      </div>
      <div class="text">
        <%= comment.content %>
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
>>>>>>> e6b32527522f8299b0a7980b0231206584f89575
  <% end %>

<ul style="list-style-type: none;">
  <%= render(partial: 'comments/comment', collection: @post.comments) %>
</ul>
