<p id="notice"><%= notice %></p>

  <h2><%= @post.question %></h2>
<table>

  <tbody>
    <tr>
      <td>
        <strong>Posted by:</strong>
        <%= @user.find(@post.user_id).username %>
      </td>

        <%= render 'votes', post: @post %>

    <td>
    <%= link_to 'Edit', edit_post_path(@post) %>
    </td>
    </tr>
  </tbody>
</table>

<br><br><br>

<h3 class="ui dividing header">Comments</h3>


  <%= form_for [@post, Comment.new] do |f| %>
    <%= f.text_area :content, placeholder: "Add a comment" %><br/>
    <%= f.hidden_field :user_id, :value => @current_user.id %>
    <%= f.submit "Add Comment" %>
  <% end %>

<ul style="list-style-type: none;">
  <%= render(partial: 'comments/comment', collection: @post.comments) %>
</ul>
