<!DOCTYPE html>
<html>
  <head>
    <title>Fraga</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'fragafav.png' %>
  </head>
  <!-- Julian - Header with links and logins-->
    <div class="headercolumns">
    <div id='fragaTitle' class="col1">
      <h1 id='fragaAnimation' style="color: #2C3E50" class="fraga">FRÅGA</h1>
</div>

  <div class="col2"><h2 class="fraga">



    <% if controller_name == 'posts' && action_name == 'map' %>
      <i class="search icon" style="color: #2C3E50" id='navOpen'></i>
    <% else %>
      <%= link_to main_map_path do %>
        <i class="search icon"></i>
      <% end %>
    <% end %>

    <%= link_to new_post_path do %>
      <i class="comment icon" style="background-color: none; color: #2C3E50; margin-left:30px"></i>
    <% end %>

    </h2>
  </div>

    <div class="col3" class="ui modal">
        <div class="loginright">
        <% unless @current_user.present? %>
        <div class="signUpButton" id="loginButton">
          Login
          </div>
          <%= link_to 'Signup', new_user_path, class: "signUpButton" %>
        <% else %>
          Welcome, <%= link_to @current_user.username, user_path(@current_user.id)
           %>
          <%= link_to 'Logout', login_path, class: "signUpButton",  method: :delete %>
        <% end %>
      </div>
    </div>
  </div>
  <!-- James - Sliding Nav Bar -->
  <div id="mySidenav" class="sidenav">
    <div id="hedNav">

      <div class="ui menu top">
      <a id="questButt" class="item sidenavbuttons" data-tab="edit">Question</a>
      <a id="locButt" class="item sidenavbuttons" data-tab="summary"><i class="icon world"></i>Location</a>
     </div>



    </div>

    <br>

    <!-- Julian - Search bar -->
    <div id="searchNav" >
      <div class="centering">
        <div class="ui icon input">
          <input class="prompt" type="text" placeholder="Search Questions..." id="queryinput">
          <i class="search icon"></i>
        </div>
          <button id="querySearchbutton">Search</button>
      </div>
        <div id="results" class="ui relaxed divided list padleft"></div>

    </div>

    <!-- Julian - Search bar -->
    <div id="locNav" >
      <div class="centering">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="Search By Location..." id="locqueryinput">
      </div>
        <button id="locationSearchbutton">Search</button>
        <div id="results"></div>
      </div>
    </div>

  </div>

  <div class='ui modal'>
    <%= render partial: "session/new"%>
  </div>
  <%= yield %>

  <audio id="fragaudio">
  <source src="<%= audio_path 'andyvoice2.mp3'%>" type="audio/mpeg">
  Your browser does not support the audio element.
  </audio>

  <audio id="fragaudio2">
  <source src="<%= audio_path 'jamesvoice.mp3'%>" type="audio/mpeg">
  Your browser does not support the audio element.
  </audio>




  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDszsd-A3xq3L1pfFC4iX2n5aVA9cDjqwo&callback=initMap"></script>

<!--  click functions for modal-->
  <script type="text/javascript">
  <% if flash[:error] %>
    $('.ui.modal').modal('show');
  <% end %>

    $('#loginButton').click(function(){
        $('.ui.modal').modal('show');
    });

</script>
  </body>
  </html>
