<!DOCTYPE html>
<html>
  <head>
    <title>Fraga</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <!-- Julian - Header with links and logins-->
    <div class="headercolumns">
    <div id='fragaTitle' class="col1">
      <h1 id='fragaAnimation' class="fraga">FRÅGA</h1>
</div>

  <div class="col2"><h2 class="fraga">
    <% if controller_name == 'posts' && action_name == 'map' %>
      <i class="search icon" id='navOpen'></i>
    <% else %>
      <%= link_to main_map_path do %>
        <i class="search icon"></i>
      <% end %>
    <% end %>
    <%= link_to new_post_path do %>
      <i class="comment icon" style="margin-left:30px"></i>
    <% end %>
    </h2>
  </div>

    <div class="col3">
        <div class="loginright">
        <% unless @current_user.present? %>
          <%= link_to 'Login',  login_path, class: "ui button" %>
          <%= link_to 'Signup', new_user_path, class: "ui primary button" %>
        <% else %>
          Welcome, <%= link_to @current_user.username, user_path(@current_user.id)
           %>
          <%= link_to 'Logout', login_path, class: "ui primary button",  method: :delete %>
        <% end %>
      </div>
    </div>
  </div>
  <!-- James - Sliding Nav Bar -->
  <div id="mySidenav" class="sidenav">
    <div id="hedNav">
      <div id="questButt" style="border:1px solid black; width: 50%; z-index:10; height:70px; float: left; display:inline">Question</div>
      <div id="locButt" style="border:1px solid black; width: 50%; z-index:10; height:70px; float:right; display:inline">Location</div>
    </div>

    <!-- Julian - Search bar -->
    <div id="searchNav">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="Search Questions..." id="queryinput">
        <i class="search icon"></i>
      </div>
        <button id="querySearchbutton">Search</button>
      <div id="results"></div>
    </div>

    <!-- Julian - Search bar -->
    <div id="locNav">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="Search By Location..." id="locqueryinput">
      </div>
        <button id="locationSearchbutton">Search</button>
        <div id="results"></div>
    </div>
  </div>
  <%= yield %>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDszsd-A3xq3L1pfFC4iX2n5aVA9cDjqwo&callback=initMap"></script>
  </body>
</html>
