<!DOCTYPE html>
<html>
  <head>
    <title>Fraga</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <!-- James: Click button to open nav bar -->
    <div class="headercolumns">
    <div id='fragaTitle' class="col1">
      <h1 id='fragaAnimation' class="fraga">FRÃ…GA</h1>


</div>

    <div class="col2"><h2 class="fraga"><i class="search icon" id='navOpen'></i><%= link_to 'ðŸ™‹ðŸ»', new_post_path%></h2></div>

    <div class="col3">
        <div class="loginright">
        <% unless @current_user.present? %>
          <%= link_to 'Login',  login_path, class: "ui button" %>
          <%= link_to 'Signup', new_user_path, class: "ui primary button" %>
        <% else %>
          Welcome,<%= @current_user.username %>
          <%= link_to 'Logout', login_path, class: "ui primary button",  method: :delete %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- James - Sliding Nav Bar -->
  <div id="mySidenav" class="sidenav">
    <div id="hedNav" style="border:1px solid black; width: 100%; z-index:10; height:50px">
      <a href="#" id='navClose' class="closebtn">&times;</a>
    </div>
    <!-- Julian - Search bar -->
    <div class="ui icon input">
      <input class="prompt" type="text" placeholder="Ask a question..." id="queryinput">
      <i class="search icon"></i>
    </div>
      <button id="searchbutton">Search</button>
    <div id="results"></div>
  </div>

  <%= yield %>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDszsd-A3xq3L1pfFC4iX2n5aVA9cDjqwo&callback=initMap"></script>

  </body>
</html>
