<!DOCTYPE html>
<html>
  <head>
    <title>Fraga</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <!-- <body style="padding: 10px; max-width: 800px; height: auto; margin: 0 auto; border: 1px solid gray"> -->
  <style>
    body {
      padding: 0;
      margin: 0 auto;
    }

  </style>


  <!-- James: Sliding Nav Bar -->
  <div id="mySidenav" class="sidenav">
    <a href="#" id='navClose' class="closebtn">&times;</a>



    <!-- julian search bar -->
    <div class="ui right aligned category search searchbar">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="Ask a question..." id="queryinput">
        <i class="search icon"></i>
      </div>

      <button id="searchbutton">Search</button>
      <div id="results"></div>
    </div>


  </div>

  <!-- James: Click button to open nav bar -->


  <!-- julian copying james slide bar -->

  <div id="rightmySidenav" class="rightsidenav">
    <a href="#" id='rightnavClose' class="rightclosebtn">&times;</a>
  </div>








  <div class="page">
  <div class="page-header">

    <div class="headercolumns">
    <div class="col1"><h1 class="fraga"><%= link_to "FRÅGA", posts_path() %></h1></div>

    <div class="col2"><h4 id='navOpen' class="fraga">SEARCH</h4></div>

    <div class="col3">
    <h4 id='rightnavOpen' class="fraga">ASK</h4>

    <% unless @current_user.present? %>
    <%= link_to 'Login',  login_path, class: "ui button" %>
    <%= link_to 'Signup', new_user_path, class: "ui primary button" %>
  <% else %>
    Welcome,
    <%= @current_user.username %>

    <%= link_to 'Logout', login_path, class: "ui primary button",  method: :delete %>
    <% end %>

    </div>

  </div>






  <!-- <button id='navOpen' class="menu" >start</button> -->

  </div>




  <div class="page-content">

    <%= yield %>



  </div>

  <div class="page-footer"></div>

</div>































  <!-- <div class="ui centered grid ">

    <div class="four wide column">



    </div>

    <div class="twelve wide column main">

      <h1><%= link_to "FRÅGA", posts_path() %></h1>

      <!-- <nav style="float:right"> -->
      <!-- <% unless @current_user.present? %>
      <%= link_to 'Login',  login_path, class: "ui button" %>
      <%= link_to 'Signup', new_user_path, class: "ui primary button" %>
    <% else %>
      Welcome,
      <%= @current_user.username %>

      <%= link_to 'Logout', login_path, class: "ui primary button",  method: :delete %>
      <% end %>
      <!-- </nav> -->

      <!-- <%= yield %> -->
    <!-- </div>
  </div> -->







  <!-- <script>
    setInterval(function(){
      $("#dynamicMessage").html('here is your message');
    }, 3000);
  </script> -->







  </body>

</html>
