<!DOCTYPE html>
<html>
  <head>
    <title>Project2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body style="padding: 10px; max-width: 800px; height: auto; margin: 0 auto; border: 1px solid gray">

  <h1><%= link_to "FRÅGA", posts_path() %></h1>

  <!-- search page -->

  <%= form_tag posts_search_path, :method => 'post' do %>
  <p>
    <%= text_field_tag :query, params[:query] %>

    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>



  <!-- Login menu - Andy -->
  <!-- <% unless @current_user.present? %>
      <%= link_to 'Login', login_path %> | <%= link_to 'Signup', new_user_path %>
    <% else %>
      <%= link_to @current_user.username, user_path(@current_user) %> |
      <%= link_to 'Logout', login_path, method: :delete %>
  <% end %> -->

    <nav style="float:right">
      <% unless @current_user.present? %>
      <%= link_to 'Login',  login_path, class: "ui button" %>  <%= link_to 'Signup', new_user_path, class: "ui primary button" %>
      <% else %>
      Welcome, <%= @current_user.username %>

      <%= link_to 'Logout', login_path, class: "ui primary button",  method: :delete %>
      <% end %>
    </nav>

  <%= yield %>

  </body>

</html>
